extends layout

block content
	.container-narrow#heading
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Boozefund Data
				p Boozefund data page.  Please select add,update,or delete from each form before submitting.
				| <strong>For update or delete actions, username, name, group, or booze fields must reference existing entry.
	.container-narrow#users
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Users
				table(class="table table-striped")
					tr
						th Username
						th Tab
					- each user in data.users
						tr
							td=user.user_name	
							td=user.tab
				form(action="/" method="post").form_horizontal#userForm
					.form-group
						label Username
						input(type="username" name ="user" placeholder="new username" class="form-control" id="user")
						label Tab
						input(type="number" name="tab" placeholder="##.##" class="form-control" id="tab")
						#radio
							input(type="radio" name="userRadio" value="userAdd")
							label Add
						#radio
							input(type="radio" name="userRadio" value="userUpdate")
							label Update
						#radio
							input(type="radio" name="userRadio" value="userDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#userMessage
	.container-narrow#groups
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Groups
				table(class="table table-striped")
					tr
						th Name
						th Owner
						th Description
					- each group in data.groups
						tr
							td=group.name
							td=group.owner
							td=group.description
				form(action="/" method="post").form_horizontal#groupsForm
					.form-group
						label Name
						input(type="text" name ="newName" placeholder="group name" class="form-control" id="GroupName")
						label Description
						input(type="text" name="description" placeholder="describe group" class="form-control" id="description")
						#radio
							input(type="radio" name="groupRadio" value="groupAdd")
							label Add
						#radio
							input(type="radio" name="groupRadio" value="groupUpdate")
							label Update
						#radio
							input(type="radio" name="groupRadio" value="groupDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#groupMessage
	.container-narrow#members
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Members
				table(class="table table-striped")
					tr
						th Name
						th Group
					- each member in data.members
						tr
							td=member.user_name
							td=member.name
				form(action="/" method="post").form_horizontal#membersForm
					.form-group
						label User
						input(type="text" name ="userMember" placeholder="Existing user" class="form-control" id="userMember")
						label Group to Join
						input(type="text" name="groupJoin" placeholder="Group to join" class="form-control" id="groupJoin")
						#radio
							input(type="radio" name="memberRadio" value="memberAdd")
							label Add
						#radio
							input(type="radio" name="memberRadio" value="memberDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#memberMessage
	.container-narrow#booze
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Booze
				table(class="table table-striped")
					tr
						th Name
						th Size
						th Price
						th Type
					- each booze in data.booze
						tr
							td=booze.name
							td=booze.size
							td=booze.price
							td=booze.type
				form(action="/" method="post").form_horizontal#boozeForm
					.form-group
						label Name
						input(type="text" name="booze" placeholder="Booze" class="form-control" id="theBooze")
						label Size
						select(name="size" class="form-control" id="size")
							option 375
							option 750
							option 1750
						label Price
						input(type="number" name ="price" placeholder="#" class="form-control" id="price")
						select(name="type" class="form-control" id="type")
							option Whiskey
							option Vodka
							option Brandy
							option Rum
							option Tequila
							option Other
						#radio
							input(type="radio" name="boozeRadio" value="boozeAdd")
							label Add
						#radio
							input(type="radio" name="boozeRadio" value="boozeUpdate")
							label Update
						#radio
							input(type="radio" name="boozeRadio" value="boozeDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#boozeMessage
	.container-narrow#wants
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Wants
				table(class="table table-striped")
					tr
						th Group
						th Want
						th Upvotes
					- each want in data.wants
						tr
							td=want.group
							td=want.booze
							td=want.upvotes
				form(action="/" method="post").form_horizontal#wantsForm
					.form-group
						label group
						input(type="text" name ="groupWant" placeholder="Group for want" class="form-control" id="groupWant")
						label Booze
						input(type="text" name="BoozeWant" placeholder="Booze for want" class="form-control" id="boozeWant")
						label upvotes
						input(type="numbers" name="upvoteWant" placeholder="Upvotes for want" class="form-control" id="upvoteWant")
						#radio
							input(type="radio" name="wantRadio" value="wantAdd")
							label Add
						#radio
							input(type="radio" name="wantRadio" value="wantUpdate")
							label Update
						#radio
							input(type="radio" name="wantRadio" value="wantDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#wantMessage
	.container-narrow#votes
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Votes
					p <strong> votes does not accept duplicate entries!
					p <string> group and booze must reference existing want.  It's tricky!
				table(class="table table-striped")
					tr
						th User
						th Group
						th VotedOn
					- each vote in data.votes
						tr
							td=vote.user
							td=vote.from
							td=vote.voted
				form(action="/" method="post").form-horizontal#votesForm
					.form-group
						label User
						input(type="text" name ="userVote" placeholder="Existing user" class="form-control" id="userVote")
						label Group
						input(type="text" name="groupVote" placeholder="Group voted from" class="form-control" id="groupVote")
						label Booze
						input(type="text" name="boozeVote" placeholder="Booze voted from" class="form-control" id="boozeVote")
						#radio
							input(type="radio" name="voteRadio" value="voteAdd")
							label Add
						#radio
							input(type="radio" name="voteRadio" value="voteDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#voteMessage
	.container-narrow#purchases
		.row
			.col-md-6.col-md-offset-3
				div(class="page-header")
					h1 Purchases
				table(class="table table-striped")
					tr
						th Group
						th Purchase
					- each purchase in data.purchases
						tr
							td=purchase.group
							td=purchase.purchase
				form(action="/" method="post").form_horizontal#purchasesForm
					.form-group
						label Group
						input(type="text" name ="groupPurchase" placeholder="Group" class="form-control" id="groupPurchase")
						label Booze Purchased
						input(type="text" name="boozePurchase" placeholder="Booze bought" class="form-control" id="boozePurchase")
						#radio
							input(type="radio" name="purchaseRadio" value="purchaseAdd")
							label Add
						#radio
							input(type="radio" name="purchaseRadio" value="purchaseDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#purchaseMessage
				.container-narrow.spacer

	script(src='/javascripts/dataView.js')