extends layout

block content
	.row
		.col-md-6
			div(class="page-header")
				h1 Boozefund Data
			p Boozefund data page.  Please select add,update,or delete from each form before submitting.
			| For update or delete actions, username, name, or group fields must reference existing entry.
	.container#users
		.row
			.col-md-6
				div(class="page-header")
					h1 Users
				table(class="table table-striped")
					tr
						th Username
						th Tab
					- each user in data.users
						tr
						td=user.user_name	
						td=user.tab
				form(action="/" method="post").form-inline#userForm
					.form-group
						label Username
						input(type="username" name ="user" placeholder="new username" class="form-control" id="user")
						label Tab
						input(type="number" name="tab" placeholder="##.##" class="form-control" id="tab")
						#radio
							input(type="radio" name="userRadio" value="userAdd")
							label Add
						#radio
							input(type="radio" name="userRadio" value="userUpdate")
							label Update
						#radio
							input(type="radio" name="userRadio" value="userDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#userMessage
	.container#groups
		.row
			.col-md-6
				div(class="page-header")
					h1 Groups
				table(class="table table-striped")
					tr
						th Name
						th Owner
						th Description
					- each group in data.groups
						tr
						td=group.name
						td=group.owner
						td=group.description
				form(action="/" method="post").form-inline#groupsForm
					.form-group
						label Name
						input(type="text" name ="newName" placeholder="new group name" class="form-control" id="newGroupName")
						label Description
						input(type="text" name="description" placeholder="describe group" class="form-control" id="description")
						#radio
							input(type="radio" name="groupAdd" id="groupAdd")
							label Add
						#radio
							input(type="radio" name="groupUpdate" id="groupUpdate")
							label Update
						#radio
							input(type="radio" name="groupDelete" id="groupDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#groupMessage
	.container#members
		.row
			.col-md-6
				div(class="page-header")
					h1 Members
				table(class="table table-striped")
					tr
						th Name
						th Group
					- each member in data.members
						tr
						td=member.user_name
						td=member.name
				form(action="/" method="post").form-inline#membersForm
					.form-group
						label User
						input(type="text" name ="userMember" placeholder="Existing user" class="form-control" id="userMember")
						label Group to Join
						input(type="text" name="groupJoin" placeholder="Group to join" class="form-control" id="groupJoin")
						#radio
							input(type="radio" name="memberAdd" id="memberAdd")
							label Add
						#radio
							input(type="radio" name="memberUpdate" id="memberUpdate")
							label Update
						#radio
							input(type="radio" name="memberDelete" id="memberDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#memberMessage
	.container#booze
		.row
			.col-md-6
				div(class="page-header")
					h1 Booze
				table(class="table table-striped")
					tr
						th Name
						th Size
						th Price
						th Type
					- each booze in data.booze
						tr
						td=booze.name
						td=booze.size
						td=booze.price
						td=booze.type
				form(action="/" method="post").form-inline#boozeForm
					.form-group
						label Name
						input(type="text" name ="boozeName" placeholder="Booze to add" class="form-control" id="newBooze")
						label Size
						select(name="newSize" class="form-control" id="newSize")
							option 375
							option 750
							option 1750
						label Price
						input(type="number" name ="newPrice" placeholder="#" class="form-control" id="newPrice")
						select(name="newType" class="form-control" id="newType")
							option Whiskey
							option Vodka
							option Brandy
							option Rum
							option Tequila
							option Other
						#radio
							input(type="radio" name="boozeAdd" id="userAdd")
							label Add
						#radio
							input(type="radio" name="boozeUpdate" id="userUpdate")
							label Update
						#radio
							input(type="radio" name="boozeDelete" id="userDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#boozeMessage
	.container#wants
		.row
			.col-md-6
				div(class="page-header")
					h1 Wants
				table(class="table table-striped")
					tr
						th Group
						th Want
						th Upvotes
					- each want in data.wants
						tr
						td=want.group
						td=want.booze
						td=want.upvotes
				form(action="/" method="post").form-inline#wantsForm
					.form-group
						label group
						input(type="text" name ="groupWant" placeholder="Group for want" class="form-control" id="groupWant")
						label Booze
						input(type="text" name="BoozeWant" placeholder="Booze for want" class="form-control" id="boozeWant")
						label upvotes
						input(type="numbers" name="upvoteWant" placeholder="Upvotes for want" class="form-control" id="upvoteWant")
						#radio
							input(type="radio" name="wantAdd" id="wantAdd")
							label Add
						#radio
							input(type="radio" name="wantUpdate" id="wantUpdate")
							label Update
						#radio
							input(type="radio" name="wantDelete" id="wantDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#wantMessage
	.container#votes
		.row
			.col-md-6
				div(class="page-header")
					h1 Votes
				table(class="table table-striped")
					tr
						th User
						th Group
						th VotedOn
					- each vote in data.votes
						tr
						td=vote.user
						td=vote.from
						td=vote.voted
				form(action="/" method="post").form-inline#votesForm
					.form-group
						label User
						input(type="text" name ="userVote" placeholder="Existing user" class="form-control" id="userVote")
						label Group voted from
						input(type="text" name="groupVote" placeholder="Group voted from" class="form-control" id="groupVote")
						label Booze voted for
						input(type="text" name="boozeVote" placeholder="Booze voted from" class="form-control" id="boozeVote")
						button(type="submit" class="btn btn-default") Submit
						#radio
							input(type="radio" name="voteAdd" id="voteAdd")
							label Add
						#radio
							input(type="radio" name="voteUpdate" id="voteUpdate")
							label Update
						#radio
							input(type="radio" name="voteDelete" id="voteDelete")
							label Delete
				div#memberMessage
	.container#purchases
		.row
			.col-md-6
				div(class="page-header")
					h1 Purchases
				table(class="table table-striped")
					tr
						th Group
						th Purchase
					- each purchase in data.purchases
						tr
						td=purchase.group
						td=purchase.purchase
				form(action="/" method="post").form-inline#purchasesForm
					.form-group
						label Group
						input(type="text" name ="groupPurchase" placeholder="Group" class="form-control" id="groupPurchase")
						label Booze Purchased
						input(type="text" name="boozePurchase" placeholder="Booze bought" class="form-control" id="boozePurchase")
						#radio
							input(type="radio" name="purchaseAdd" id="purchaseAdd")
							label Add
						#radio
							input(type="radio" name="purchaseUpdate" id="purchaseUpdate")
							label Update
						#radio
							input(type="radio" name="purchaseDelete" id="purchaseDelete")
							label Delete
						button(type="submit" class="btn btn-default") Submit
				div#memberMessage

	script(src='/javascripts/dataView.js')